<meta http-equiv="refresh" content="5;url=http://localhost:4567/customers" >
<div class="placeholder">

</div>
<center>


<div class="new_report">


<p><h4>
   thank you for submitting your haunting report. we hope it wasn't too frightening for you.
</h4></p>


</div>

</center>
