<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="/customer_style.css" media="screen, handheld" />
<link rel="stylesheet" type="text/css" href="/customer_enhanced_style.css" media="screen  and (min-width: 40.5em)" />
    <title>ghost pals customer portal 👻</title>
  </head>
  <body>

  </body>
</html>
