<div class="error_page">
  <p>sorry, there's nothing here!</p>

  <img id="error_page_img" src="/img/error_page_ghost.png" alt="cartoon ghost">


  <p>let's go <a href="/">home</a> instead </p>
</div>
