<div class="container">
  <!-- title row-->
  <div class="row" id="front-page-title">
    <h2>Ghost Pals Inc.</h2>
    <h3>Paranormal Investigators</h3>
  </div>

    <!-- row with ghost picture and buttons-->

    <div class="row">

      <div class="col-md-2 image-col">
        <img id="ghost-image"  src="/img/ghost.gif"/>
      </div>
      <div id = "user-buttons" class="col-md-8">
        <center>
        <div class="user-button row">
            are you a ?
          </div>
          <div class="user-button row">
            new customer
          </div>

          <div class="user-button row">
            existing customer
          </div>
          <div class="user-button row">
            investigator
          </div>

        </div>
        </center>


      <div class="col-md-2 image-col">
        <img id="ghost-image"  src="/img/ghost.gif"/>
      </div>
    </div>
      </div>
    <!-- ghost stats row -->

    <div class="row">
      <% for key in @ghost_types.keys %>
      <div class="col-sm-<%=12/ @length%>">


      <p>Number of <%=key%>s reported:</p> <p> <%= @ghost_types[key] %></p>
            </div>
      <% end %>
    </div>

    <!-- services offered -->

    <div class="row">
      <div class="col-md-3">
        Services offered
      </div>
      <div class="col-md-7">
        <div class="row">
          <% for service in @services %>
            <div class="col-md-2">
          <%=service.name %>
          </div>
          <% end %>

        </div>
      </div>
      <div class="col-md-2">
        <button type="button" name="button">Contact Us</button>
      </div>

    </div>


</div>
