<div class="container">
  <!-- title row-->
  <div class="title">
    <h2>Ghost Pals Inc.</h2>
    <h3>Paranormal Investigators</h3>
  </div>

  <div class="row">
    <center>

        <% for service in @services %>
        || <%=service.name %> ||
        <% end %>

      </center>


    </div>

    <!-- row with ghost picture and buttons-->

    <div class="row">

      <div class="col-md-2"><br>
        <img id="ghost-image"src="/img/ghost.gif"/>
      </div>
      <div id = "user-buttons" class="col-md-8">
        <center>
        <div class="user-button row">
          <p class="user-button-question">are you a</p>
          </div>
          <div class="user-button row">
            <p class="user-button-button"><a href="/customers/new">new customer ?</a></p>

          </div>

          <div class="user-button row">
            <p class="user-button-button"><a href="/customers">existing customer ?</a></p>

          </div>
          <div class="user-button row">
            <p class="user-button-button"><a href="/neghostiations/all">investigator ?</a></p>

          </div>

        </div>
        </center>


      <div class="col-md-2 image-col"><br>
        <img id="ghost-image"  src="/img/ghost.gif"/>
      </div>
    </div>

    <div class="row placeholder">

    </div>
      </div>
    <!-- ghost stats row -->
      <center>
        <div class="col-sm-1">

        </div>
    <div id="ghost-types-row" class="row">


      <% for key in @ghost_types.keys[0..-2] %>
      <div class="ghost-type col-sm-<%=12/ (@length) %>">


      <%=key.capitalize%>s <br> reported
        <br>
      <%= @ghost_types[key] %>
            </div>
      <% end %>

    </div>
          </center>
<div class="placeholder">

</div>
