<h2>Welcome to Ghost Pals Inc.</h2>

<h3>Please select from the following:</h3>


<div id="home_buttons">


<div class="home_screen_button">
  <a href="#">
  New Customer
  </a>
</div>
<div class="home_screen_button">
  <a href="#">
  Existing Customer
  </a>
</div>
<div class="home_screen_button">

</div>
<div class="home_screen_button">
  <a href="#">
  Investigator
  </a>
</div>

</div>
