<div class="flex-container-body" id="home_page_body_wrapper">

<div class="flex-container-title" id="front_page_titles">



</div>

<div id="links-pic-row">

  <div id = "ghost-panel" class="links-row">
    <h2>Welcome to Ghost Pals Inc.</h2>

    <h3>Please select from the following:</h3>
    <br><br>
    <img id="lil-ghost" src="/img/lil_ghost.png" alt="">
    <img id="lil-ghost" src="/img/lil_ghost.png" alt="">

  </div>


  <div class="links-row">
    <div class="links-two">


    <div class="front-page-link">

    <p>Are you a....</p>
    </div>
    <div class="front-page-link home_screen_button">

    <a href="/customers/new">New Customer</a>
    </div>
    </div>
    <div class="links-two">


    <div class="front-page-link home_screen_button">

    <a href="/customers">Existing Customer</a>
    </div>
    <div class="front-page-link home_screen_button">

    <a href="/neghostiations/all">Investigator</a>
    </div>
    </div>
  </div>



</div>







</div>
