<div id="home_page_body_wrapper">
<div id="front-page-titles">

<h2>Welcome to Ghost Pals Inc.</h2>

<h3>Please select from the following:</h3>

</div>

<div class="columns">


  <div class="column home_screen_button">
    <p><a>
        Are you a....?
      </a>
    </p>
  </div>


<div id="new_customer" class="column home_screen_button">
  <p>
    <a href="/customers/new">
      New Customer
    </a>
  </p>
</div>
<br>
<div id="existing_customer" class="column home_screen_button">
  <p>
    <a href="/customers">
      Existing Customer
    </a>
  </p>
</div>
<br>
<div id="investigator" class="column home_screen_button">
  <p>
    <a href="/neghostiations/all">
      Investigator
    </a>
  </p>
</div>

</div>

<div class="">
  Number of ghosts reported: <%= @ghosts.length %>
</div>
<div class="">
  Most haunted location type
</div>

<div class="">
  Services offered
</div>


</div>
