<div id="home_page_body_wrapper">

<h2>Welcome to Ghost Pals Inc.</h2>

<h3>Please select from the following:</h3>


<div class="flex-container">


<div id="new_customer" class="home_screen_button">
  <p>
    <a href="/customers/new">
      New Customer
    </a>
  </p>
</div>
<br>
<div id="existing_customer" class="home_screen_button">
  <p>
    <a href="/customers">
      Existing Customer
    </a>
  </p>
</div>
<br>
<div id="investigator" class="home_screen_button">
  <p>
    <a href="/neghostiations">
      Investigator
    </a>
  </p>
</div>

</div>

</div>
