<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/investigator.css">
    <title>ghost pals investigator portal 👻</title>
  </head>
  <body>

  </body>
</html>
