<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/img/ghost.ico" />
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <title>ghost pals</title>
  </head>
  <body>
    <nav class="row">
      <ul>
        <li class="col-md-3"><a href="/">Home</a></li>
        <li class="col-md-3"><a href="/customers">Customer Portal</a></li>
        <li class="col-md-3"><a href="/neghostiations/all">Investigator Portal</a></li>
        <li class="col-md-3"><a href="/ghosts/all">All Reported Ghosts</a></li>
      </ul>
    </nav>

    <%= yield%>

    <footer>
      <p>      finding and talking to ghosts since 2017. </p>

    </footer>
  </body>
</html>
