<p>

Before reporting your first haunting, please submit your name and email address, so you can check back on the status of your investigations.</p>

<form method="post" action="/customers">
<center>
<label for="customer-name">Name:</label>
<input id="customer-name" type="text" name="name"/>
<br/>
<label for="email-address">Email Address:</label>
<input id="email-address" type="text" name="email_address" />
<br />
 <input type="submit" value="Submit Details"/>

 </center>
</form>
