@font-face { font-family: Cardo; src: url('/fonts/cardo/Cardo-Regular.ttf'); }
@font-face { font-family: Cardo; font-weight: bold; src: url('/fonts/cardo/Cardo-Bold.ttf');}
@font-face { font-family: Cardo; src: url('/fonts/cardo/Cardo-Regular.ttf'); }
@font-face { font-family: Josephin Sans; src: url('/fonts/josefinsans/JosefinSans-Regular.ttf'); }



* {
  /*border: 1px solid red;*/
  font-family: Josephin Sans;
}

nav {
  background-color: black;
  color:white;

}

table {
  width: 80%;
  text-align: center;
  margin: auto;
}

nav > ul >li > a:visited {
  color: rgb(184, 183, 181);
}

nav > ul >li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  width: 22%;
  display: inline-block;
  list-style: none;
}

body {
  padding: 0px;
  background-image: url('/img/brickwall.png ');
}

label {
  margin:5px;
  padding: 5px;
}

select {
  margin:5px;
}

input {
  margin:5px;
}

td {
  border: 1px solid grey;
  padding: 7px;
}

footer {
   background-color:lightgrey;
   width: 100%;
   bottom: 0;
   position: fixed;
   text-align: center;
   padding-top: 10px;
}

.table_header {
  width: 80%;
  text-align: center;
}

.error_page {
  background-color: black;
  color: white;
  align-items:center;
  text-align: center;
  height:auto;
}

.error_page > a {
  color: white;
  text-decoration: underline;
}

#error_page_img {
  width: 50%;
  height: auto;
}

#home_page_body_wrapper {
  display: block;
  align-items:center;
}

#front-page-titles {
  font-family: Cardo;
  font-weight: bold;
}

#new_report {
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
  display: inline-block;
  text-align: center;
  margin: auto;
  background: rgb(117, 119, 115);
  color: white;
}

.flex-container-customers {
  display: flex;
  flex-direction: row;
}

.customer_email {
  margin: 3px;
  padding: 2px 0px 2px 0px;
  border: grey dashed 0.5px;
  box-shadow: 1px 1px 1px #888888;
}

                      /**********************************/


/* Front Page Styles */
#ghost-image {
  height:100px;
  width:auto;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#front-page-title {
  text-align: center;
  font-family: Cardo;
}

.row {
  height: 20%;
}

.user-button-question {
  color: black;
  font-weight: bold;
  font-size: 2em;
}

.user-button-button {
  width: 70%;
  display: inline-block;
  background-color:rgb(114, 163, 190);
  color: white;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 1.5em;
}

.placeholder {
  height: 50px;
}

                                /**********************************/

/*New customer page styles */

#new-customer-title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: Cardo;
}

.new-customer-form {
  display: inline-block;
}

                                /**********************************/

/*New haunting page styles */

.haunting-input {
  text-align: left;
}

.haunting-text-input {
  text-align: justify;
}
