@font-face { font-family: Cardo; src: url('/fonts/cardo/Cardo-Regular.ttf'); }
@font-face { font-family: Cardo; font-weight: bold; src: url('/fonts/cardo/Cardo-Bold.ttf');}
@font-face { font-family: Cardo; src: url('/fonts/cardo/Cardo-Regular.ttf'); }
@font-face { font-family: Josephin Sans; src: url('/fonts/josefinsans/JosefinSans-Regular.ttf'); }



* {
  /*border: 1px solid red;*/
  font-family: Josephin Sans;
}

nav {
  background-color: black;
  color:white;

}

table {
  width: 80%;
  text-align: center;
  margin: auto;
}

nav > ul >li > a:visited {
  color: rgb(184, 183, 181);
}

nav > ul >li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  width: 20%;
  display: inline-block;
  list-style: none;
}

body {
  padding: 10px;
  background-image: url('/img/brickwall.png ');
}

label {
  padding: 10px;
}

td {
  border: 1px solid grey;
  padding: 7px;
}

footer {
   background-color: transparent;
   padding-bottom: 5px;
   width: 100%;
   bottom: 0;
   position: fixed;
   text-align: center;
}

.table_header {
  width: 80%;
  text-align: center;
}

.flex-container-body {
  display: flex;
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

.flex-container-title {
  flex-direction: column;
}

.flex-container-links-pic {
  flex-direction: row;
  background: black;
  color: white;
}

.flex-container-links-1 {
  flex-direction: row;
}

.flex-container-links-2 {
  flex-direction: row;
}

.flex-container-tiles-1 {
  flex-direction: row;
}

.flex-container-tiles-2 {
  flex-direction: row;
}

.flex-item-links-pic {
  flex-grow: 1;
}

.home_screen_button {
  display:block;
  align-items:center;
  text-align: center;
  border: dashed 1px grey;
  background-color: rgb(137, 139, 142);
  margin: 5px;
  height: 25%;
}

.error_page {
  background-color: black;
  color: white;
  align-items:center;
  text-align: center;
  height:auto;
}

.error_page > a {
  color: white;
  text-decoration: underline;
}

#error_page_img {
  width: 50%;
  height: auto;
}

.fake_submit_button {
  background-color: pink;
}

#new_customer {
  background-color: rgb(88, 86, 87);
}

#existing_customer {
  background-color: rgb(126, 126, 126);
}

#investigator {
  background-color: rgb(204, 204, 204);
}

#home_page_body_wrapper {
  display: block;
  align-items:center;
}

#front-page-titles {
  font-family: Cardo;
  font-weight: bold;
}

#new_report {
  padding: 10px;
  box-shadow: 2px 2px 5px #888888;
  display: inline-block;
  text-align: center;
  margin: auto;
  background: rgb(117, 119, 115);
  color: white;
}

.flex-container-customers {
  display: flex;
  flex-direction: row;
}

.customer_email {
  margin: 3px;
  padding: 2px 0px 2px 0px;
  border: grey dashed 0.5px;
  box-shadow: 1px 1px 1px #888888;
}

#links-pic-row {
  display:flex;
  margin-bottom:20px;
  height: 300px;
}

.links-row {
  width: 45%;
  margin:5px;
}

#ghost-panel {
  background-color: black;
  color: white;
}

#lil-ghost {
  height: 50%;
  width: auto;
}
