* {
  border: 1px solid red;
  font-family: helvetica;
}

body {
  background-color: linen;
}

p {
  font-family: helvetica;
}

.flex-container {
  flex-direction: column;
  justify-content:center;
  text-align: center;
}

.home_screen_button {
  display:block;
  justify-content:space-around;
  align-items:center;
  text-align: center;
  border: dashed 1px grey;
}

.fake_submit_button {
  background-color: pink;
}

#new_customer {
  background-color: lightskyblue;
}

#existing_customer {
  background-color: aquamarine;
}

#investigator {
  background-color: lightpink;
}

#home_page_body_wrapper {
  display: block;
  align-items:center;
}
