<meta http-equiv="refresh" content="5;url=http://localhost:4567/neghostiations/all" >
<div class="placeholder">

</div>
<center>


<div class="new_report">


<p><h4>
   Thank you for submitting your report.
</h4></p>


</div>

</center>
