


<p class="new_report">

<a href="/neghostiations/new">File a new report</a></p>
<br>


<center>

  <div class="title">

  <h2>Investigation Reports</h2>

  </div>
</center>
<br><br>


<table>
  <tr>
    <th>Date</th>
    <th>Location of Haunting</th>
    <th>Investigation Successful?</th>
    <th>More Information</th>
  </tr>
  <% for neghostiation in @neghostiations %>
  <tr>
    <td><%=neghostiation.neghostiation_date %></td>

    <td><%=neghostiation.location %></td>
    <td><%=neghostiation.successful %></td>
    <td>
      <a href='/neghostiations/<%= neghostiation.id %>'>More Info</a>
    </td>
  </tr>
  <% end %>
</table>
