<div class="title">

<h2>Please select your email</h2>
</div>


<br>

<div id="customer-emails">



      <% for customer in @customers %>
      <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-3">



      <div class="customer-email">

       <p>&nbsp;<a href="/customers/<%=customer.id%>"><%=customer.email_address%></a> </p>

       </div>
      <br>

       </div>
       </div>
      <% end %>

      </div>
