<h2>Please select your email address from list below:</h2>
<p>

      <% for customer in @customers %>
      <p>
       <a href="/customers/<%=customer.id%>"><%=customer.email_address%></a>
       </p>
      <% end %>


</p>
