<h2>Please select your email address from the dropdown:</h2>
<p>
  <select id="customer-select" name="customer_email">
    <% for customer in @customers %>
    <option value="<%=customer.id%>"><%=customer.email_address%></option>
    <% end %>

  </select>
</p>
